@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');


:root{
     --ff-main: 'Roboto', sans-serif;
     --ff-title: 'Staatliches', cursive;
     --circle:clamp(120%,80vw,800px);
}
*{
     margin:0;
     padding-bottom:0;
     box-sizing: border-box;
     caret-color: transparent;
}
*::selection{
     background-color: var(--accent);
     color:var(--fg-col);
}


.container{
     font-family: var(--ff-main);
     font-size: 30px;
     position: relative;
     overflow-x:hidden;
     background-color:var(--fg-col);
}

/* -----------------------------------NAVBAR---------------------------- */
.navbar{
     width: 100%;
     position: fixed;
     transition: .3s ease-out;
     z-index: 500;
}
.navbar-main{
     width: 100%;
     display:flex;
     justify-content: space-between;
     list-style-type: none;
     padding:clamp(15px,5vw,40px);
     background:var(--fg-col);
     -webkit-box-shadow: 0px 7px 24px -17px rgba(66, 68, 90, 1);
     -moz-box-shadow: 0px 7px 24px -17px rgba(66, 68, 90, 1);
     box-shadow: 0px 7px 24px -17px rgba(66, 68, 90, 1);
}
.navbar-home{
     width: calc(50px,70px,100px);
     position: relative;
     display: flex;
     align-content: center;
     justify-content: center;
}
.navbar-home-inside, 
.navbar-home-inside h5{
     display: flex;
     align-content: center;
     justify-content: center;
}
.navlink{
     color:var(--fc-side);
}
.nav-option >.navlink:hover{
     transition:  ease-in;
     border-bottom-style:solid;
     border-color:var(--accent);
     color:var(--bg-col);
}
/* update */
.navlink p{
     display: flex;
     color:var(--bg-col);
     padding:1em 1em 1em 0em;
     
}

.navbar-list{
     
     list-style-type: none;
     display:flex;
}
.nav-option{
     padding:.5em;
     height: 1.5em;
     position: relative;
     margin:.5em;
     /* margin-right: .15em; */
     
}

.brand{
     width: max(60px,70px);
     height: 60px;
     display: block;
     margin-right: .5em;
     color:var(--bg-col);
}
.toggler{
     display: none;
}
.scroll-down{
     transform: translate(0,-100%);
}

@media (max-width:1010px){
     :root{
          --brand-toggler-size: max(30px,50px);
          --navbar-height: 150px;
     }
     .navbar{
          height: var(--navbar-height);
     }
     .brand{
          width: var(--brand-toggler-size);
          height: auto;
          display: block;
}
     .navbar-list{
          position: fixed;
          right:-100vw;
          top:0;
          text-align: center;
          font-size: max(20px,8vh);
          width: 100vw;
          padding:0;
          height: 100vh;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
          background:var(--navbar-col) ;
          backdrop-filter: blur(10px);
          /* (0,0% 100% / 0.1) */
          transition: .5s ease-in;
          z-index: 99999;
     }
     .navbar-main{
          padding:clamp(15px,.8em,20px);
     }
     .nav-option{
          padding-top:1em;
          padding-bottom:1em;
     }
     .nav-optionx{
          display: block;
          position: fixed;
          right:0;  
          bottom:0;
          padding:0;
          width: var(--brand-toggler-size) ;
          height:var(--brand-toggler-size);
     }
     .navlink{
          color:var(--fg-col);
          text-shadow: 0px -1px 15px rgb(20, 20, 20);
     }
     .navlink p{
          display: none;
     }
     .toggler{
          display: block;
          position: absolute;
          right:1em;
          z-index:99999;
          width: var(--brand-toggler-size);
          height: var(--brand-toggler-size);
     }
     .toggler-enabled{
          overflow:hidden;
          height: 100%;
     }
}
.nav-optionx{
     padding:0px;
}
.styl {
     display: block;
     border: none;
     background-color: transparent;
     padding:none
     
}
.styl img{
     width: auto;
     height: 90px;
}
.styl img:hover{
     
     cursor:pointer;
}
/* =============== MAIN SCREEN============ */
.circle-content-wrapper{
     position: relative;
     /* height: fit-content; */
}
.main-screen{
     position: relative;
     margin-top:150px;
     background-color: var(--fg-col);
     padding:1em;
     font-size: clamp(15px,8vw,50px);
}

.big5{
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 80vh;
     max-height: 800px ;
     z-index: 55;
     position: relative;
}
@media (max-width:500px){
     .main-screen{
          height: 500px;
     }
     .big5{
          min-height:0;
          height: 300px;
     }
     .bg-circle{
          /* width: 80%; */
          max-width: 480px;
          min-width: 200px;
          max-height: 500px; 
     }
     
}
.bg-circle{
     max-width: 700px;
     min-width: 400px;
     width: 110%;
     border-radius: 50%;
     background-image:url(../media/back_4.gif);
     background-repeat: no-repeat;
     background-size: cover;
     
     z-index: 29;
     position: absolute;
     left:50%;
     transform: translate(-50%);
     top:.5em;
     
    
}
.bg-circle::after{
     content:"";
     padding-bottom: 100%;
     display: block;
}

.sm-circle{
     max-width: 600px;
     min-width: 300px;
     width: 65%;
     border-radius: 50%;
     background-color:var(--fg-col);
     z-index: 30;
     position: absolute;
     left:50%;
     top:50%;
     transform: translate(-50%,-50%);
    
}
.sm-circle::after{
     content:"";
     padding-bottom: 100%;
     display: block;
}
.big5-img{
     display: block;
     width: clamp(100%,40vw,500px);
     max-width: 400px;
}
.small-title{
     font-size: clamp(15px,3vw,.5em);
     font-style: italic;
     color:var(--fg-col);
}
.small-title.White{
     color:var(--accent);
}
.big-title{
     font-size: clamp(1.8em, 12vw,2em);
     font-family: var(--ff-title);
     color:var(--accent);

}

a{
     text-decoration: none;
     color:var(--bg-col);
     font-weight: 900;
}

.content{
     margin-top:5%;
     padding:3em;
     background-color: var(--bg-col);
     color:white;
}

.img-content{
     display: block;
     width:clamp(90px, 90vw,600px) ;
     height: auto;
     padding:.25em;
}
