.transition{
     position: fixed;
     top:0;
     left:-100%;
     width:100%;
     bottom:0;
     z-index: 101;
     background-color: var(--accent);
     transition: .5s ease-out;
     /* font-size: 0px; */
     display:flex;
     align-items: center;
     justify-content: center;
}
.smooth{
     color:var(--fg-col);
     font-size: clamp(40px,2em,3em);
     font-family: var(--ff-main);
}
.transition.is-active{
     left: 0px;
     /* update */
     /* font-size: 3em; */
     /* display: flex; */
}